@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* variables */
.head-bg {
  background-color: rgba(217, 217, 217, 0.5);
}
.head-bg .btn {
  background: #2A0896;
  border-radius: 30px;
  color: #ffffff;
}
.head-bg a {
  @apply font-medium text-black;
}

.hero-section {
  background: #F5F5F5;
}
.hero-section .hero-content {
  max-width: 995px;
}
.hero-section .hero-content h2 {
  font-weight: 500;
  font-size: 70px;
  color: #282828;
  text-align: center;
}
.hero-section .hero-content h2 span {
  font-size: 70px;
  font-weight: 700;
}
.hero-section .hero-content p {
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: rgba(40, 40, 40, 0.7);
}
.hero-section .hero-content .btn {
  border-radius: 50%;
  background-color: #2A0896;
}
.hero-section .hero-content .btn:hover {
  box-shadow: 0px 4px 0px 0px rgba(42, 8, 150, 0.75);
}
.hero-section .hero-content ul li a {
  font-weight: 500;
  font-size: 22px;
}

.home-sec {
  background: #F5F5F5;
  position: relative;
}
.home-sec #background-div {
  background: linear-gradient(90.51deg, #87CEFA 3.78%, #2A0896 96.65%);
  border-radius: 30px;
  transform: rotate(7.43deg);
  width: 1550.34px;
  height: 538.85px;
  position: absolute;
}
.home-sec .home-card {
  z-index: 1;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 29px;
}
.home-sec .home-card h2 {
  font-weight: 400;
  font-size: 16px;
  @apply text-black;
}
.home-sec .home-card .home-card--left a {
  font-weight: 400;
  font-size: 14px;
  color: #2397F3;
}
.home-sec .home-card .home-card--right .inbox {
  font-weight: 400;
  font-size: 21.5385px;
  color: #2397F3;
}
.home-sec .home-card .home-card--right .filter-btn {
  padding: 2px 10px;
  background: #2397F3;
  border-radius: 3px;
  color: #ffffff;
  margin-right: 10px;
}
.home-sec .home-card .home-card--right .filter-btn--first {
  padding: 2px 10px;
  background: #C5C2C2;
  border-radius: 3px;
  color: #ffffff;
  margin-right: 10px;
}
.home-sec .home-card .home-card--right .filter-label {
  box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.home-sec .home-card .home-card--right small {
  font-weight: 400;
  font-size: 14px;
}
.home-sec .home-card .home-card--right .call-list {
  box-shadow: -10px 10px 30px rgba(142, 135, 135, 0.2);
  border-radius: 10px;
  transform-origin: left center;
}
.home-sec .home-card .home-card--right .call-list:hover {
  width: 90%;
  transform: scale(1.2);
}
.home-sec .home-card .home-card--right .call-list p {
  font-weight: 500;
  font-size: 14px;
  color: #8E8787;
}
.home-sec .home-card .home-card--right .call-list a {
  font-weight: 500;
  font-size: 14px;
  color: #8E8787;
}
.home-sec .home-card .home-card--right .call-list span {
  font-weight: 500;
  font-size: 11.2px;
}
.home-sec .home-card .home-card--right .call-btn {
  padding: 8px 16px;
  background: #2397F3;
  border-radius: 40px;
}
.home-sec hr {
  border: 1px solid #AAA6A6;
}

.card-section {
  background-color: #F5F5F5;
}
.card-section .group .card-left .card {
  position: relative;
  background: #FFFFFF;
  box-shadow: -30px 30px 30px rgba(40, 40, 40, 0.05);
  border-radius: 30px;
  width: 406px;
  height: 316px;
}
.card-section .group .card-left .card .ratings {
  background: #EFEFEF;
  box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 295px;
}
.card-section .group .card-left .card .card-skeleton {
  background: #D9D9D9;
  border-radius: 10px;
}
.card-section .group .card-left .card-content--right h2 {
  font-weight: 500;
  font-size: 32px;
}
.card-section .group .card-left .card-content--right p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(40, 40, 40, 0.7);
}
.card-section .group .card-overlay-one {
  background: rgba(157, 134, 209, 0.15);
  box-shadow: -30px 30px 30px rgba(40, 40, 40, 0.05);
  border-radius: 30px;
  width: 406px;
  height: 288px;
  position: absolute;
  top: -38px;
  left: -36px;
}
.card-section .group .card-overlay-two {
  background: rgba(157, 134, 209, 0.15);
  box-shadow: -30px 30px 30px rgba(40, 40, 40, 0.05);
  border-radius: 30px;
  width: 406px;
  height: 288px;
  position: absolute;
  top: -34px;
  left: 42px;
}
.card-section .group hr {
  border: 1px solid gray;
  position: relative;
  width: 175px;
}
.card-section .group .graph li {
  background: #2A0896;
  margin-right: 20px;
}
.card-section .group .card-right .card-right--content h2 {
  font-weight: 500;
  font-size: 32px;
  max-width: 400px;
}
.card-section .group .card-right .card-right--content p {
  font-weight: 400;
  font-size: 22px;
  max-width: 294px;
  color: rgba(40, 40, 40, 0.7);
}
.card-section .group .msg-skeleton {
  background: #EFEFEF;
  box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 265px;
}

.colab-section {
  background: #F5F5F5;
}
.colab-section .colab-card {
  background: #DDE9FF;
  border-radius: 30px;
}
.colab-section .colab-card .colab-right .colab-right--content {
  background: rgba(255, 255, 255, 0.67);
  -webkit-backdrop-filter: blur(9.47406px);
          backdrop-filter: blur(9.47406px);
  border-radius: 12.1343px;
}
.colab-section .colab-card .colab-right hr {
  border: 1px solid #AAA6A6;
}
.colab-section .colab-card .colab-right a {
  font-weight: 400;
  font-size: 13.6038px;
  color: #2397F3;
}
.colab-section .colab-card .colab-right .filter-tab p {
  font-weight: 400;
  font-size: 8.84245px;
}
.colab-section .colab-card .colab-right .filter-tab .filter-btn {
  padding: 1.26321px 6.31604px;
  background: #2397F3;
  border-radius: 1.89481px;
  font-weight: 400;
  font-size: 8.84245px;
  color: #FFFFFF;
  margin-right: 6px;
}
.colab-section .colab-card .colab-right .filter-tab .filter-btn--first {
  padding: 1.26321px 6.31604px;
  background: #C5C2C2;
  border-radius: 1.89481px;
  font-weight: 400;
  font-size: 8.84245px;
  color: #FFFFFF;
  margin-right: 6px;
}
.colab-section .colab-card .colab-right .filter-label {
  box-shadow: -2.52641px 2.52641px 12.6321px rgba(0, 0, 0, 0.05);
  border-radius: 6.31604px;
}
.colab-section .colab-card .colab-right .filter-label li {
  font-weight: 500;
  font-size: 8.84245px;
}
.colab-section .colab-card .colab-right .call-list {
  box-shadow: -6.31604px 6.31604px 18.9481px rgba(142, 135, 135, 0.2);
  border-radius: 6.31604px;
  color: #FFFFFF;
  transition: width 0.5s ease;
}
.colab-section .colab-card .colab-right .call-list:hover {
  width: 100%;
  transform: scale(1.2);
}
.colab-section .colab-card .colab-right .call-list a {
  font-weight: 500;
  font-size: 10.916px;
  color: rgba(40, 40, 40, 0.7);
}
.colab-section .colab-card .colab-right .call-list .call-btn {
  padding: 6px 12px;
  background: #2397F3;
  border-radius: 31px;
}
.colab-section .colab-card .colab-right .call-list .call-btn span {
  font-weight: 500;
  font-size: 8.73282px;
}
.colab-section .colab-card .colab-right .call-list p {
  font-weight: 500;
  font-size: 8.84245px;
  color: rgba(40, 40, 40, 0.7);
}
.colab-section .colab-card .colab-left .colab-left--content h2 {
  font-weight: 500;
  font-size: 40px;
}
.colab-section .colab-card .colab-left .colab-left--content p {
  font-weight: 400;
  font-size: 18px;
  color: rgba(40, 40, 40, 0.7);
  max-width: 394px;
}

.bottom-section {
  background: #F5F5F5;
}
.bottom-section .bottom-card {
  background: #D9DEEF;
  border-radius: 30px;
}
.bottom-section .bottom-card .bottom-right--content h2 {
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}
.bottom-section .bottom-card .bottom-right--content p {
  font-weight: 400;
  font-size: 18px;
  color: rgba(40, 40, 40, 0.7);
  text-align: center;
  max-width: 584px;
}
.bottom-section .bottom-card .bottom-right--content a {
  font-weight: 500;
  font-size: 20px;
  background: #4482C2;
  border-radius: 30px;
  padding: 10px 28px;
  color: #FFFFFF;
}
.bottom-section .bottom-card .bottom-right--content img {
  border-bottom-right-radius: 30px;
}
.bottom-section .bottom-card .bottom-left img {
  border-top-left-radius: 30px;
}

.footer {
  background-color: #2A0896;
}
.footer .footer-row--one .footer-left p {
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  max-width: 287px;
}
.footer .footer-row--one .footer-mid {
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.footer .footer-row--one .footer-right label {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
.footer .footer-row--one .footer-right input {
  background: #FFFFFF;
  border-radius: 30px;
  font-weight: 500;
  font-size: 18px;
}
.footer .footer-row--one .footer-right button {
  background: #2A52BE;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translate(-5%, -50%);
}
.footer .footer-row--two {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.footer .footer-row--three {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */